*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.border{
    height: 2500px;
    width: 1860px;
    background-color: rgb(34, 37, 35);
    border-color: rgb(41, 62, 62);
    position: absolute;
}
.image{
    height: 700px;
    width: 450px;
    display: inline-block;
    position: absolute;
    top: 70px;
    left: 1300px;
    transition: 3s;
    transition-duration: 1s;
    overflow: hidden;
}
.image:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.option{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    gap: 70px;
    position: relative;
    top: 20px;
    text-shadow: 5px 8px 10px blueviolet;
}
.sameer{
    position: relative;
    right: 770px;
    margin-left: 770px;
    color: rgb(221, 212, 212);
    text-transform: none;
    text-shadow: none;
    text-shadow: 1px 1px 10px rgb(142, 228, 228);
}
.home{
    color: aqua;
    transition-duration: 1s;
}
.service{
    transition-duration: 2s;
}
.experience{
    transition-duration: 2s;
}
.about{
    transition-duration: 2s;
}
.Contact{
    transition-duration: 2s;
}


.home:hover{
    transition: 1s;
    color: rgb(224, 212, 212);
    transform: scale(1.4); 
    cursor: pointer;
}
.service:hover{
    transition: 1s;
    color: aqua;
    transform: scale(1.4); 
    cursor: pointer;
}
.experience:hover{
    transition: 1s;
    color: aqua;
    transform: scale(1.4); 
    cursor: pointer;
}
.about:hover{
    transition: 1s;
    color: aqua;
    transform: scale(1.4); 
    cursor: pointer;
}
.Contact:hover{
    transition: 1s;
    color: aqua;
    transform: scale(1.4); 
    cursor: pointer;
}

.hi{
    color: rgb(204, 195, 195);
    font-size: 60px;
    position: relative;
    top: 200px;
    margin-left: 88px;
}
.frontend{

    color: rgb(22, 170, 170);
    font-size: 100px;
    position: absolute;
    top: 302px;
    left: 87px;
}
.iner-heading{
    color: rgb(190, 173, 173);
    font-size: 20px;
    position: absolute;
    top: 440px;
    left: 91px;
}
.iner-heading-2{
    color: rgb(190, 173, 173);
    font-size: 35px;
    position: absolute;
    top: 505px;
    left: 91px;
}
.twitter{
    height: 80px;
    width: 80px;
    background-color: rgb(13, 126, 126);
    border-radius: 50%;
    position: absolute;
    top: 670px;
    left: 90px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 63px;
    text-shadow: 1px 1px 15px rgb(51, 47, 47);
    cursor: pointer;
}
.twitter-up{
    height: 60px;
    width: 340px;
    background-color: transparent;
    position: absolute;
    top: 670px;
    border-radius: 15px;
    left: 90px;
    color: transparent;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    color: transparent;
    font-size: 45px;
    transition: 1s;
    padding-top: 5px;
    padding-left: 17px;
    padding-bottom: 90px;
    
}
.twitter-up:hover{
    transform: translate(0px,-75px);
    padding-right: 380px;
    background-color: transparent;
    color: rgb(210, 207, 207);
}                                                                                                                                                                                                                                                            




.linked-in{
    height: 80px;
    width: 80px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 670px;
    left: 180px;
    color: rgb(52, 52, 174);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 63px;
   
    text-shadow: 1px 1px 15px blue;
    cursor: pointer;
}
.linked-in-up{
    height: 66px;
    width: 340px;
    background-color: transparent;
    border-radius: 15px;
    position: absolute;
    top: 675px;
    left: 180px;
    color: transparent;
    font-size: 45px;
    font-weight: 900;
    text-shadow: transparent;
    cursor: pointer;   
    transition: 1s;
    padding-top: 5px;
    padding-left: 18px;
    padding-bottom: 90px;
}
.linked-in-up:hover{
    transform: translate(0px,-75px);
    padding-right: 380px;
    background-color: transparent;
    color: rgb(210, 207, 207);
}




.instagram{
    height: 80px;
    width: 80px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 670px;
    left: 270px;
    color: palevioletred;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    
    text-shadow: 1px 1px 15px palevioletred;
    cursor: pointer;
}
.instagram-up{
    height: 64px;
    width: 80px;
    padding-top: 4px;
    padding-bottom: 1px;
    padding-left: 348px;
    background-color: transparent;
    border-radius: 15px;
    position: absolute;
    top: 670px;
    left: 270px;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: 900;
    text-shadow: 1px 1px 15px transparent;
    cursor: pointer;
    transition: 1s;
    padding-bottom: 90px;
}
.instagram-up:hover{
    transform: translate(0px,-75px);
    padding-right: 380px;
    background-color: transparent;
    color: rgb(210, 207, 207);
}





.thread{
    height: 80px;
    width: 80px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 670px;
    left: 360px;
    color: rgb(197, 183, 183);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 58px;
    
    text-shadow: 0.5px 0.5px 15px white;
    cursor: pointer;
}
.thread-up{
    height: 60px;
    width: 300px;
    background-color: transparent;
    border-radius: 15px;
    position: absolute;
    top: 675px;
    left: 360px;
    color: transparent;
    justify-content: center;
    font-size: 45px;
    font-weight: 900;
    cursor: pointer;
    transition: 1s;
    padding-top: 4px;
    padding-left: 17px;
    padding-bottom: 90px;
}
.thread-up:hover{
    transform: translate(0px,-75px);
    padding-right: 380px;
    background-color: transparent;
    color: rgb(210, 207, 207);
}



.whatsapp{
    height: 80px;
    width: 80px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 670px;
    left: 450px;
    color: green;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 57px;
    
    text-shadow: 1px 1px 15px green;
    cursor: pointer;  
}
.whatsapp-up{
    height: 60px;
    width: 180px;
    background-color: transparent;
    border-radius: 15px;
    position: absolute;
    top: 675px;
    left: 450px;
    color: transparent;
    font-size: 47px;
    font-weight: 900;
    cursor: pointer; 
    transition: 1s;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 17px;
    padding-bottom: 90px;
}
.whatsapp-up:hover{
    transform: translate(0px,-75px);
    padding-right: 380px;
    background-color: transparent;
    color: rgb(210, 207, 207);
}
.whatsapp-up-up{
    height: 70px;
    width: 480px;
    background-color: transparent;
    border-radius: 15px;
    position: absolute;
    top: 670px;
    left: 530px;
    color: transparent;
    font-size: 47px;
    font-weight: 900;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 17px;
    padding-bottom: 90px;
}
.whatsapp-up-up-up{
    height: 0.5px;
    width: 480px;
    background-color: transparent;
    border-radius: 15px;
    position: absolute;
    top: 752px;
    left: 90px;
    color: transparent;
    font-size: 47px;
    font-weight: 900;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 17px;
    padding-bottom: 90px;
}

.Skills-down{
    height: 144px;
    width: 20px;
    background-color: rgb(26, 155, 155);
    position: absolute;
    top: 966px;
    left: 1350px;
    box-shadow: 10px 10px 1px black;
    animation-name: down1;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
}
@keyframes down1{
    from{
      transform: translate(0);
    }
    to{
      width: 425px;
    }
}

.Skills{
    height: 120px;
    color: rgb(225, 220, 220);
    font-size: 190px;
    position: absolute;
    top: 928px;
    left: 1350px;
    text-shadow: 5px 5px 8px black;
}

.part1{
    height: 400px;
    width: 1000px;
    /* background-color: red; */
    position: absolute;
    top: 880px;
    left: 97px;
    color: white;
    font-size: 35px;
    font-weight: 900;
}
.language{
    display: flex;
}
.language-text{
    color: rgb(180, 172, 172);
    font-weight: normal;
    position: absolute;
    left: 400px;
}

.framework-libraries{
    display: flex;
}
.framework-libraries-text{
    color: rgb(180, 172, 172);
    font-weight: normal;
    position: absolute;
    left: 400px;
}

.version-control{
    display: flex;
}
.version-control-text{
    color: rgb(180, 172, 172);
    font-weight: normal;
    position: absolute;
    left: 400px;
}

.responsive-design{
    display: flex;
}
.responsive-design-text{
    color: rgb(180, 172, 172);
    font-weight: normal;
    position: absolute;
    left: 400px;
}

.tools{
    display: flex;
}
.tools-text{
    color: rgb(180, 172, 172);
    font-weight: normal;
    position: absolute;
    left: 400px;
}

.testing{
    display: flex;
}
.testing-text{
    color: rgb(180, 172, 172);
    font-weight: normal;
    position: absolute;
    left: 400px;
}

.other{
    display: flex;
}
.other-text{
    color: rgb(180, 172, 172);
    font-weight: normal;
    position: absolute;
    left: 400px;
}




.professional-experience-down{
    height: 224px;
    width: 20px;
    background-color: rgb(26, 155, 155);
    position: absolute;
    top: 1333px;
    left: 90px;
    box-shadow: 10px 10px 1px black;
    animation-name: down2;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
}
.professional-experience{
    color: white;
    font-size: 100px;
    position: absolute;
    top: 1320px;
    left: 99px;
}
@keyframes down2{
    from{
      transform: translate(0);
    }
    to{
      width: 500px;
    }
}
.part2{
    height: 50px;
    width: 900px;
    position: absolute;
    top: 1400px;
    left: 800px;
}
.peragraph{
    color: rgb(203, 195, 195);
    font-size: 30px;
    text-transform: capitalize;
}
.first-line{
    background: linear-gradient(90deg,rgb(34, 37, 35),rgb(10, 216, 216),rgb(34, 37, 35));
    height: 10px;
    position: relative;
    top: 690px;
    box-shadow: 0px 15px 20px 0.05px black;
}
.projects{
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    margin-left: 87px;
    position: relative;
    top: 1600px;
}
.second-line{
    background: linear-gradient(90deg,rgb(34, 37, 35),rgb(10, 216, 216),rgb(34, 37, 35));
    height: 10px;
    position: relative;
    top: 1490px;
    box-shadow: 0px 15px 20px 0.05px black;
}
.age-calc{
    position: relative;
    top: 1650px;
    left: 90px;
    margin-right: 30px;
    cursor: pointer;
}
.video{
    position: relative;
    top: 1650px;
    left: 90px;
    cursor: pointer;
}
.game-site{
    position: relative;
    top: 1720px;
    left: 90px;
    margin-right: 30px;
    cursor: pointer;
}
.game-site:hover{
    transform: scale(10px);
}
.video-2{
    position: relative;
    top: 1720px;
    left: 90px;
    cursor: pointer;
}